


<div class="login row container z-depth-1 center">
    <%= form_tag "/sessions", {class: "login-form col s12"} do %>
        <div class="row">
            <div class="input-field col s6">
                <i class="mdi-communication-email prefix"></i>
                <%= email_field_tag :email, nil, class: "validate" %>
                <%= label_tag :email %>
            </div>
            <div class="input-field col s6">
                <i class="mdi-communication-vpn-key prefix"></i>
                <%= password_field_tag :password, nil, class: "validate" %>
                <%= label_tag :password %>
            </div>
            <div class="col s12">
                <%= submit_tag "Log in", class: "btn waves-light" %>
            </div>
        </div>
    <% end %>
</div>
