<%= form_for @user, {class: 'login-form col s12'}  do |f| %>
  <div {class: "input-field col s6"}>
    <%= f.label :fname, "First Name"%>:
    <br>
    <%= f.text_field :fname %>
    <br><br>
  </div>
  <div {class: "input-field col s6"}>
    <%= f.label :lname, "Last Name" %>:
    <br>
    <%= f.text_field :lname %>
    <br><br>
  </div>
  <%= f.label :email, "Email" %>:
  <br>
  <%= f.email_field :email %>
  <br><br>
  <%= f.label :password, "Password" %>:
  <br>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password_confirmation, "Confirm" %>:
  <br>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "Save", {:class => 'btn waves-light'} %>
<% end %>

