<div class="nav">
  <%= link_to "Logout", session_path(session[:user_id]), method: "delete" %>
  <%= link_to "Edit Profile", edit_user_path(session[:user_id]), method: "get" %>
</div>

<div class="box">
  <div class="top-part">
    <h1>Hello <%= @user.fname %>!</h1>

    <form class="location-search">
      <label>Search by location
        <input type="text" name="location" class="location-input", placeholder="City, State/Country" value="Brooklyn, NY">
      </label>
      <input type="submit" name="Search" class="location-search-button" value="Search">
    </form>
  </div>

  <div class="left-part">
    <h3>My Favorite Destinations:</h3>
    <ul class="favorites-list">
      <% @destinations.each do |des| %>
        <li data-id="<%= des.id %>">
          <p class="favorites"><%= des.location %></p>
          <span class="remove">&times;</span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="main">


  </div>

</div>

<script id="outline" type="text/template">
  <h2>Showing Results for <%%= location %></h2>
  <button class="<%%= location %>" id="add-location-button">Add Destination to Favorites</button>
  <div class="display"></div>
</script>

<script id="gplaces-category" type="text/template">
  <div class="category" id="<%%= name %>">
    <h3><%%= title %></h3>
    <ul>
    </ul>
  </div>
</script>


<script id="gplaces-place" type="text/template">
  <li>
    <div class="place" data-gid="<%%= gid %>">
      <h5><%%= name %></h5>
      <img src="<%%= src %>">
      <p>Rating: <%%= rating %></p>
      <button class="add-to-list" >Add to my Favorites</button>
    </div>
  </li>
</script>

<script id="favorites-template" type="text/template">
  <li data-id="<%%= id %>">
    <p class="favorites"><%%= location %></p>
    <span class="remove">&times;</span>
  </li>
</script>

